---
import BaseHead from '@components/layout/BaseHead.astro';
import AdvogadosLandingWithProvider from '@components/legacy-advogados/AdvogadosLandingWithProvider';
import '../styles/advogados-legacy.css';
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Google Tag Manager -->
    <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KS5L52P9');
    </script>
    <!-- End Google Tag Manager -->
    <BaseHead
      title="Marketing para Advogados | Scale"
      description="Landing page completa da Scale para advogados e escritórios."
      includeFonts={false}
    />
  </head>
  <body class="advogados-page">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS5L52P9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <AdvogadosLandingWithProvider client:idle />
  </body>
</html>
